/* 1. Largura fixa de 940px e vou centralizar a atividade do conteúdo */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 940px;              /* largura fixa */
    margin: 0 auto;            /* centraliza o conteúdo */
    padding: 0 10px;           /* afasta um pouco dos cantos da tela */
}

/* 2. Título principal — respiro de 10px */
h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding: 10px;             /* espaço interno */
    border-radius: 5px;
}

/* 3. Subtítulos com borda inferior */
h2 {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

/* 4. Figuras — fundo, cor da fonte, respiro de 15px, margem externa de 30px */
figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgrey;

    padding: 15px;             /* respiro interno */
    margin: 30px 0;            /* afasta 30px dos elementos acima/abaixo */

    border-radius: 8px;
}

/* Centralizar imagem do meu conteudo */
figure img {
    display: block;
    margin: 0 auto;
}

/* 6.comando para Afastar legenda da imagem — 10px */
figcaption {
    margin-top: 10px;
}